body, html{
	background-color:#c0b283;
	padding:0; margin:0;
}
ul{
	padding-top:7px;
	position:absolute;
	padding-left:680px;
	margin:0;
	display:inline;
}
.nav li a{
	color:white;
	text-decoration:none;
	padding-left:40px; padding-right:40px;
}
.nav li{
	font-size:20px;
	color:white;
	display:inline;
}
.nav{
	height:40px;
	padding:0; margin:0;
	background-color:#353839;
}
.banner{
	display:block;
	padding:0; margin:0;
}
.banner img{
		display:block;
	padding:0; margin:0;
}
.contactinfo{
	position:relative;
	float:left;
		display:inline-block;
	padding:0; margin:0;
}
.contactinfo img{
	width:996px; height:624px;
	display:inline-block;
	padding:0; margin:0;
}
.mail img{
	margin-top:30px; margin-left:100px;
	display:inline-block;
	position:absolute;
height:200px; width:200px;
}
.mail{
	position:absolute;
	float:left;
	display:inline-block;
	background-color:#f4f4f4;
}
.links{
	position:absolute;
	float:left;
	display:inline-block;
	width:924px; height:624px;
	background-color:#f4f4f4;
}
.instagram img{
	margin-top:30px; margin-left:500px;
	display:inline-block;
	position:absolute;
height:200px; width:200px;
}
.instagram{
	position:absolute;
	float:left;
	display:inline-block;
	background-color:#f4f4f4;
}
.redbubble img{
	margin-top:300px; margin-left:100px;
	display:inline-block;
	position:absolute;
height:200px; width:200px;
}
.redbubble{
	position:absolute;
	float:left;
	display:inline-block;
	background-color:#f4f4f4;
}