*{
	margin:0;
	padding:0;
}


.header{
	width:1920px;
	height:150px;
}



.navbar{
	background-color:#f4cbc6;
}


.navbar ul>li{
	display:inline-block;
	zoom:1;
	*display:inline;
	color:#f7edf0;
	list-style:none;
	padding-left:30px;
	padding-right:30px;
	padding-top:5px;
	padding-bottom:5px;
	font-family:timesnewroman;
	font-size:40px;
	font-style:italic;
}